<h1 class="text-center mt-5 fw-bold">Log In</h1>
<div class="container mt-3">
  <div class="card border border-4 border-warning border-opacity-75">
    <div class="row d-flex justify-content-around">
      <div class="col-4 d-flex align-items-center p-1">
        <img src="/images/page-lock.png" class="img-fluid border border-3 border-warning border-opacity-25" style="width: 100%;" alt="...">
      </div>
      <div class="col-6 p-4">
        <div class="card-body">
          <form action="/user/login" method="post">
            <div class="mb-3">
              <label for="email" class="form-label fw-bold">Email address:</label>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label fw-bold">Password"</label>
              <input type="password" name="password" class="form-control" id="password">
              <i class="fa-solid fa-eye-slash"></i>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>