<h1 class="text-center mt-5 fw-bold">Sign Up</h1>
<div class="container mt-5">
  <form action="/user/register" method="post">
    <div class="mb-3">
      <label for="firstName" class="form-label fw-bold">User Name:</label>
      <input type="text" name="firstName" class="form-control" id="firstName" aria-label="Username" placeholder="User Name" required {{#if user}}value="{{this.firstName}}"{{/if}}>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label fw-bold">Email address:</label>
      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required {{#if user}}value="{{this.email}}"{{/if}}>
      {{#if user}}
      <div id="emailHelp" class="form-text" style="color: red;">The email has already been registered.</div>
      {{else}}
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label fw-bold">Password:</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required {{#if user}}value="{{this.password}}"{{/if}}>
      <i class="fa-solid fa-eye-slash"></i>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>